# A variable is a name used to store data (value) in memory.
 # A variable is a container that holds data.

A variable in Python is a name that is used to store data values. Python is dynamically typed, so we do not need to declare the data type explicitly.

   #  a = 10
   #  name = "Kalyani"
   #  price = 99.5
   #  is_active = True

     # Here:-
       # a         - stores an integer
       # name      - stores a string
       # price     - stores a float
       # is_active - stores a boolean

 Rules for Naming Variables:-

        ✔ Must start with a letter (a-z, A-Z) or underscore _
        ✔ Cannot start with a number
        ✔ Can contain letters, numbers, and underscores
        ✔ Case-sensitive (name and Name are different)

In [2]:
a, b, c = 10, 20, 30   # Assign multiple values

In [3]:
a

10

In [4]:
a,b,c

(10, 20, 30)

In [5]:
x = y = z = 100   # Assign same value to multiple variables

In [6]:
x

100

In [7]:
x,y,z

(100, 100, 100)

In [8]:
x = 10           # int   (Python automatically detects data type.) Python allows changing variable type.
x = "Hello"      # now string
x

'Hello'

In [10]:
a = 10                    #Check Variable Type
print(type(a))            # <class 'int'>

<class 'int'>

    ## variable are case sensitive,dose not start with number (1a) but it begeings with the number (a1), 
    ## and not allowed to define special charecter

In [12]:
a1 = 55
a1

55

In [14]:
x_train,x_test, y_train,y_test= 80,20,20,10

In [15]:
x_train

80

In [16]:
x_test
y_train

20

In [17]:
x_train
x_test
y_train
y_test

print(x_train)
print(x_test)
print(y_train)
print(y_test)

80
20
20
10

In [23]:
first_name = 'Kalyani'
last_name = 'ZADE'
country = 'HYD'
city = 'TELENGANA'
age = 40087
is_married = True
skills = ['HTML', 'CSS', 'JS', 'React', 'Python']
person_info = {
    'firstname':'Rakesh', 
    'lastname':'Pawade', 
    'country':'Finland',
    'city':'Helsinki'
    }

In [24]:
city

'TELENGANA'

In [25]:
person_info

{'firstname': 'Rakesh',
 'lastname': 'Pawade',
 'country': 'Finland',
 'city': 'Helsinki'}

In [26]:
print('First name:', first_name)
print('First name length:', len(first_name))
print('Last name: ', last_name)
print('Last name length: ', len(last_name))
print('Country: ', country)
print('City: ', city)
print('Age: ', age)
print('Married: ', is_married)
print('Skills: ', skills)
print('Person information: ', person_info)

First name: Kalyani
First name length: 7
Last name:  ZADE
Last name length:  4
Country:  HYD
City:  TELENGANA
Age:  40087
Married:  True
Skills:  ['HTML', 'CSS', 'JS', 'React', 'Python']
Person information:  {'firstname': 'Rakesh', 'lastname': 'Pawade', 'country': 'Finland', 'city': 'Helsinki'}

In [31]:
first_name, last_name, country, age, is_married = 'chiu', 'Rakesh', 'KALYANI', 250, True

# Declaring multiple variables in one line

In [32]:
print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

chiu Rakesh KALYANI 250 True
First name: chiu
Last name:  Rakesh
Country:  KALYANI
Age:  250
Married:  True