## Tuple

In [ ]:
# A tuple is a collection data type used to store multiple values in a single variable.
# A tuple is like a list, but it cannot be changed (immutable).
# Use round brackets ( )

#A tuple in Python is an ordered, immutable collection of elements. It allows duplicate values and is defined using parentheses.


        #ðŸ”¹ Important Properties
                #âœ” Ordered
                #âœ” Immutable (cannot change)
                #âœ” Allows duplicate values
                #âœ” Faster than list

        # Tuples have only 2 methods:

            # | Method    | Description        |
            #| --------- | ------------------ |
            #| `count()` | Counts occurrences |
            #| `index()` | Returns index      |


        # ðŸ”¹ Difference Between List and Tuple

            # | Feature     | List     |      Tuple              |
        #--------------------------------------------------------
            # | Brackets   |    []    |    ()                    |
            #| Mutable    | âœ… Yes   |    âŒ No                 |
            #| Speed      |  Slower  |     Faster                |
            #| Methods    |  Many    t|   Only 2 (index & count) |

## tuple creation

In [2]:
tup1=()

In [3]:
tup1

()

In [1]:
tup2 = (10,20,30)  # tuple of integers number

In [2]:
tup2

(10, 20, 30)

In [3]:
tup3 = (10.77, 30.66 , 60.89)   # tuple of float numbers

In [4]:
tup3

(10.77, 30.66, 60.89)

In [5]:
tup4 = ('one','two',"three") # tuple of string

In [6]:
tup4

('one', 'two', 'three')

In [7]:
tup5 = ('Kalyani', 25 , (50,100),(150,90)) # nested tuple

In [8]:
tup5

('Kalyani', 25, (50, 100), (150, 90))

In [9]:
tup6 = (100,'kalyani',17.765)   # tuple of mix data type

In [10]:
tup6

(100, 'kalyani', 17.765)

In [11]:
tup7 = ('kalyani',25,[50,100],[150,90],{'john','chiu'},(99,22,33))

In [12]:
tup7

('kalyani', 25, [50, 100], [150, 90], {'chiu', 'john'}, (99, 22, 33))

In [13]:
len(tup7)   # length of list

6

## Tuple Indexing

In [16]:
tup2

(10, 20, 30)

In [14]:
tup2[0]  # retrive first element of the tuple

10

In [17]:
tup4

('one', 'two', 'three')

In [15]:
tup4[0]  # retrive first element of the tuple

'one'

In [18]:
tup4

('one', 'two', 'three')

In [20]:
tup4[0][0]   # nested indexing - access the first charecter of the first tuple element

'o'

In [21]:
tup4[-1]    # last item of the tuple

'three'

In [22]:
tup5

('Kalyani', 25, (50, 100), (150, 90))

In [23]:
tup5[-1]   # last item of the tuple

(150, 90)

## Tuple Slicing

In [24]:
mytuple = ('one','two','three','four','five','six','seven','eight')

In [25]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [34]:
mytuple[0:3]   # Return all items from 0th to 3rd index location excluding the item

('one', 'two', 'three')

In [35]:
mytuple[2:5] # list all items from 2th to 35th index location excluding the item

('three', 'four', 'five')

In [36]:
mytuple[:3] # return first three items

('one', 'two', 'three')

In [37]:
mytuple[:2]  # return first two items

('one', 'two')

In [38]:
mytuple[-3:] # return last three items

('six', 'seven', 'eight')

In [39]:
mytuple[-2:]   # return last two items

('seven', 'eight')

In [40]:
mytuple[-1]    # return last item of tuple

'eight'

In [41]:
mytuple[:]     # return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

## Remove & Change items

In [42]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [43]:
del mytuple[0] # tuple are immutable which means we cant DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

In [45]:
mytuple[0]=1  # tuple are immutable which means we cant CHANGE tuple items

TypeError: 'tuple' object does not support item assignment

In [46]:
del mytuple  # deleting entire tuple object is possible

## Loop through a Tuple

In [50]:
mytuple = ('one','two','three','four','five','six','seven','eight')

In [51]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [52]:
for i in mytuple:
    print (i)

one
two
three
four
five
six
seven
eight

In [53]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

## Tuple Membership

In [54]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [55]:
'one' in mytuple  # check if 'one' exist in the list

True

In [56]:
'ten' in mytuple  # check if 'ten' exist in the list

False

In [58]:
if 'three' in mytuple:   # check if 'three' exist in the list
   print ('three is present in tuple')
else: 
    print('three is not present in the tuple')

three is present in tuple

In [59]:
if 'eleven' in mytuple:   # check if 'eleven' exist in the list
   print ('eleven is present in tuple')
else: 
    print('eleven is not present in the tuple')

eleven is not present in the tuple

## Index Position

In [61]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [62]:
mytuple.index('one')  # index of first element equal to 'one'

0

In [63]:
mytuple.index('five')  # index of first element equal to 'five'

4

In [65]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [66]:
mytuple.index('one')  # index of first element equal to 'one'

0

## Sorting

In [67]:
mytuple2 = (43,67,99,12,6,90,67)

In [68]:
mytuple2

(43, 67, 99, 12, 6, 90, 67)

In [70]:
sorted(mytuple2)  # returns a new sorted list and dosent  change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [71]:
sorted(mytuple2 , reverse= True)  # sort in descending order

[99, 90, 67, 67, 43, 12, 6]